**/.env
**/.env.*
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/dist
**/build
**/out
**/.next
**/.vscode
**/*.log
**/.idea
**/*.sublime-workspace
**/.DS_Store
**/Thumbs.db
**/*.tar.gz
**/*.zip
**/*.rar
**/*.tar
