.badge {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: $text-lg;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $regular-radius;
  color: $white;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $light-gray;
  }

  &__active {
    background-color: $light-gray;
  }

  &__inactive {
    background-color: $mid-gray;
  }
}